html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

}

/* Navbar starts */
.Navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8ebf42;
}



/* #5265c4 */

.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #ffffff;
}

.Navbar > .nav-items > a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #8ebf42;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .45s;
  }

  .Navbar > .nav-items > a::before {
      background: transparent;
  }

  .Navbar > .nav-items.open {
      transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }


}

/* Navbar ends */

/* table starts */

h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  color: black;
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #8ebf42;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.difficultyIcon {
  width: 15px;
  height: 15px;
}

.actionIcons {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.tableRow{
  cursor: pointer;
}

/* table ends */



/* quiz details*/

.quizImage{
  box-shadow: 3px 1px 10px rgb(206, 206, 206);
  border: 10px solid #8ebf42;
  position: relative;
  width: 40%;
  height: 380px;
}

.QuizzDetailBox{
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 3px 10px gray;
}

.QuizzText{
  padding-left: 10px;
  width: 50%;
  padding-right: 10px;
}

.diffIcon{
  width: 25px;
  height: 25px;
  font-weight: bold;
}

.subject{
  color: #8ebf42;
  font-family: Roboto;
}

.questionTag{
  font-family: Roboto;
  color: #8ebf42;
}

.question{
  font-family: Roboto;
}

.answerTag{
  font-family: Roboto;
  color: #8ebf42;
}

.answer{
  font-family: Roboto;
}

.difficultyTag{
  font-family: Roboto;
  color: #8ebf42;
}

@media (max-width: 680px) {
  .quizImage{
    width: 50%;
  }

  .QuizzDetailBox{
    padding-left: 30px;
  }
}

.cardSize{
  width: 18rem;
}

/* quizz details ends */

/* front page quizzes starts */

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.customizedcontainer {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.allposts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.postCard {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .allposts {
    grid-template-columns: 1fr;
  }
}

.solution{
  cursor: pointer;
  text-decoration: underline;
}